html, body {
    background-color: transparent;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-shrink: 0;
}
.main-time {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}
.additional-time {
    font-size: 14px;
    margin: 5px 0 0;
}

.project-summary-holder {
    padding: 20px 50px
}
.project-summary {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    font-size: 20px;
    flex-shrink: 0;
    padding: 10px 0;
    border-bottom: 3px solid rgba(255,255,255,.1)
}
.project-summary:last-of-type {
    border-bottom: none;
}
.project-summary-key {
    margin: 0;
}
.project-summary-value {
    margin: 0;
    font-weight: bold;
}
.days-breakdown {
    overflow-y: auto;
}


/*Day Block*/
.acc {
    background-color: rgba(255,255,255,.5);
    padding: 20px;
    margin: 5px 0;
}
.acc.dark {
    background-color: rgba(0,0,0,.2);
    color: #accef7;
}
.acc-title {
    margin: 0 0 0 20px;
    font-weight: bold;
}
.acc-content {
    display: none;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
}
.acc.active .acc-content {
    display: flex;
}



/* Entry Row */
.entry-row {
    width: 100%;
    margin: 5px 0;
    background-color: rgba(255,255,255,.5);
    padding: 20px;
    border-radius: 8px;
}
.entry-row.dark {
    background-color: rgba(0,0,0,.2);
}
.entry-row-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.entry-row-values p {
    margin: 0;
}
.entry-row-time {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
}
.entry-row-header {
    display: flex;
    align-items: center;
}
.entry-row-description {
    margin-left: 10px;
}
.entry-row-save {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
}



/* New Entry Popup */
.new-entry-popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-entry-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px dashed #eee;
}
.new-entry-row {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.new-entry-popup-label {
    margin: 0;
}
.new-entry-popup-field {
    max-width: 350px;
    margin: 0;
}
.new-entry-popup-button {
    margin: 20px 0 0;
}


.settings-icon {
    position: absolute;
    top: 5px;
    right: 25px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}


/* Menu */
.menu-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.menu-block {
    background-color: #fff;
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 4px 0 0 4px;
    box-shadow: -5px 5px 5px 0 rgba(0,0,0,0.45);
}
.menu-row {
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
}


/*Total Breakdown*/
.total-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #333333;
    overflow-y: auto;
}
.total-header-text {
    color: #accef7;
    font-size: 16px;
    margin: 10px 0 0;
}


/*Progress Bar*/
.progress-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}
.progress-text-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.progress-text {
    font-size: 13px;
}
.progress-background {
    background-color: rgb(84, 92, 95);
    width: 100%;
    height: 25px;
}
.progress-foreground {
    background-color: #84D2F6;
    height: 25px;
}
