html, body {
    background-color: transparent;
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}
.main-time {
    text-align: center;
    font-size: 45px;
    margin: 20px;
    font-weight: bold;
}
.project-summary {
    display: flex;
    min-width: 300px;
    justify-content: space-between;
    padding: 10px 50px;
    font-size: 20px;
}


.acc {
    background-color: rgba(255,255,255,.5);
    padding: 20px;
}
.acc-title {
    margin: 0 0 0 20px;
    font-weight: bold;
}
.acc-content {
    display: none;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
}
.acc.active .acc-content {
    display: flex;
}


/* Entry Row */
.entry-row {
    width: 100%;
    margin: 5px 0;
    background-color: rgba(255,255,255,.5);
    padding: 20px;
}
.entry-row-values {
    display: flex;
    justify-content: space-between;
}
.entry-row-values p {
    margin: 0;
}
.entry-row-time {
    display: flex;
    justify-content: space-between;
    min-width: 200px;
}



/* New Entry Popup */
.new-entry-popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-entry-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px dashed #eee;
}
.new-entry-row {
    display: flex;
    min-width: 500px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.new-entry-popup-label {
    margin: 0;
}
.new-entry-popup-field {
    max-width: 350px;
    margin: 0;
}
.new-entry-popup-button {
    margin: 20px 0 0;
}
