<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teamdeck notes</title>

    <link href="vendor/foundation.min.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />

    <script src="vendor/vue.min.js"></script>
</head>

<body>
    <div class="container" id="root">
        <p class="main-time">{{timeWorked}}</p>

        <div v-for="(value, key) in projectsSummary" class="project-summary">
            <p>{{key}}</p>
            <p>{{value}}</p>
        </div>

        <div class="days-breakdown">
            <day-block v-bind:date="today" v-bind:entries="todaysEntries"></day-block>
<!--            <day-block v-for="(value, name) in entries" v-bind:date="name" v-bind:entries="value"></day-block>-->
        </div>

        <new-entry-popup v-show="showNewEntryPopup" v-bind:done="addEntryDetails"></new-entry-popup>
    </div>

    <script src="app.js"></script>
</body>
</html>
