<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teamdeck notes</title>

    <link href="vendor/foundation.min.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
</head>

<body>
    <div class="container" id="root">
        <div class="header">
            <p class="main-time">{{timeWorked}}</p>
            <p class="additional-time">Залишилось сьогодні: {{timeLeft}}</p>
        </div>


        <div class="project-summary-holder">
            <div v-for="(value, key) in projectsSummary" class="project-summary">
                <p class="project-summary-key">{{key}}</p>
                <p class="project-summary-value">{{value}}</p>
            </div>
        </div>

        <div class="days-breakdown">
            <day-block v-bind:date="today" v-bind:entries="todaysEntries" v-bind:is-edit="isEdit" v-bind:save="save"></day-block>
<!--            <day-block v-for="(value, name) in entries" v-bind:date="name" v-bind:entries="value"></day-block>-->
        </div>

        <new-entry-popup v-show="showNewEntryPopup" v-bind:done="addEntryDetails"></new-entry-popup>

        <!--Menu-->
        <span class="settings-icon" @click="toggleMenu">∆</span>
        <app-menu v-show="showMenu" v-bind:on-open-target="onOpenTarget" v-bind:on-close="toggleMenu"></app-menu>

        <total-breakdown v-if="showTotalBreakdown" v-bind:on-close="closeTotalBreakdown" v-bind:is-edit="isEdit" v-bind:save="save"></total-breakdown>
    </div>

    <script src="vendor/vue.min.js"></script>
    <script src="vendor/mousetrap.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
